body p{
    font-family: Lato, sans-serif;

}
body{
    background-color:#1e2926;
    position:relative;
    z-index: 0;
}
html, body {
    height: 100%; /* Konieczne, aby body widziało pełną wysokość */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zajmuje minimum 100% wysokości okna */
}

body::before{
    content:"";
    position:fixed;
    inset:0;

    background-image:url("../images/background_herbs.png");
    background-repeat:no-repeat;
    background-position:left center;
    background-size:900px;

    opacity:0.25; 
    pointer-events:none;
}

