/* =======================
   DESKTOP MENU
======================= */
.menu-desktop{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Zapewnia, że menu jest zawsze na wierzchu */
    background-color: #1e2926;
}

.search-icon{
    padding: 10px;
}

#desktop-nav-menu {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: Lato, sans-serif;
    flex: 1;
    height: 3em;
    line-height: 3em;
}

#desktop-nav-menu ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
}

#desktop-nav-menu > ol > li {
    position: relative;
    background: #1e2926;
    transition: background 0.3s;
}

#desktop-nav-menu > ol > li > a {
    display: block;
    padding: 0 20px;
    color: #aebcab;
    text-decoration: none;
}

#desktop-nav-menu > ol > li:hover {
    background: #7d957d;
}

#desktop-nav-menu > ol > li:hover > a {
    color: #1c3c12;
}

/* Podmenu desktop */
#desktop-nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #1e2926;
    border: 1px solid #1e2926;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 999;
}

#desktop-nav-menu li:hover > ul {
    display: block;
}

#desktop-nav-menu > ol > li > ul > li {
    line-height: 2.5em;
    text-align: left;
    border-bottom: 1px solid #4d574a;
    white-space: nowrap;
    padding: 0 15px;
    color: #aebcab;
    cursor: pointer;
}

#desktop-nav-menu > ol > li > ul > li:last-child {
    border-bottom: none;
}

#desktop-nav-menu > ol > li > ul > li:hover {
    background: #7d957d;
    color: #1c3c12;
}

#desktop-nav-menu > ol > li > ul > li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.menu-container, .menu-desktop { 
    position: fixed;
    top: 40px; 
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* =======================
   MOBILE MENU
======================= */
#mobileMenuToggle {
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 9999;
    background-color: #1e2926;
    background: #1e2926;
    padding: 25px 0;
    display: none; /* Ukryty domyślnie, pokazany przez media query */
}


.menu-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menu-container label {
    display: inline-block;
    height: 20px;
    width: 25px;
    cursor: pointer;
}
.menu-container label span {
    display: block;
    height: 2px;
    width: 100%;
    margin: 5px;
}
.menu-container label span:last-child {
    margin-right: 0;
}
.menu-container .search-icon {
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 20px;
}
/* Hamburger */
.hamburger-label {
    display: block;
    cursor: pointer;
    width: 30px;
    margin: 10px;
}
.hamburger-label span {
    display: block;
    height: 3px;
    margin: 5px 0;
    background: #308702;
    transition: 0.4s;
}

/* Checkbox steruje widocznością menu */
#mobileMenuToggle input#mobile-menu {
    display: none;
}

/* Mobile nav */
#mobile-nav-menu {
    display: none;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 9999; max-height: calc(100vh - 80px); /* Niech menu nie wychodzi poza ekran */
    overflow-y: auto;

}

#mobile-nav-menu ol,
#mobile-nav-menu ul,
#mobile-nav-menu li {
    list-style: none; /* usuwa bullets */
    margin: 0;
    padding: 0;

}

#mobile-nav-menu li > a {
    display: block;
    padding: 10px 15px;
    color: #aebcab;
    text-decoration: none;
    font-size: 20px;
    background-color: #1e2926;
}

#mobile-nav-menu li > ul {
    display: none;
    padding-left: 15px;
    background: #1e2926;
}
#mobile-nav-menu li.active > ul {
    display: block;
}

/* Przycisk X */
#close-mobile-menu {
    display: block;
    background: none;
    border: none;
    color: #308702;
    font-size: 20px;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
}
#close-mobile-menu:hover {
    color: #1ca100;
}
#mobile-menu:checked ~ #mobile-nav-menu {
    display: block;
}

/* Media queries */
@media (max-width: 1024px) {
    #desktop-nav-menu {
        display: none;
    }
    #mobileMenuToggle {
        display: block;
    
    }
    .menu-desktop .search-icon {
        display: none;
    }
}
@media (min-width: 1025px) {
    #mobileMenuToggle {
        display: none;
    }
}

